# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.env
venv/
.venv/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Odoo
*.pyc
filestore/
sessions/
odoo.log
odoo/

# Database
*.sql
*.dump
